.author {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* invece di height:100vh */
  width: 100%;
  background-color: #ffffff;
  overflow-x: hidden; /* blocca scrollbar orizzontale */
}

.name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-box {
  flex: 1; /* occupa lo spazio rimanente */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  flex-wrap: wrap; /* se lo spazio non basta, le card vanno a capo */
  width: 100%;
  box-sizing: border-box;
}
.author-name {
  font-size: 80px;
  color: #000000;
}
