.B {
  border: 2px solid red;
}
.IB {
  border: 1px solid purple;
}
.card {
  /* margin-left: 10px; */
  background-image: url(../../assets/book.png);
  border-radius: 10px;

  text-align: center;
  cursor: pointer;
}
.title-c{
    font-size: 100px;
    color: #fff;
}
.small{
  width: 45%; /* o 300px se preferisci fisso */
  height: 70vh;
}
.large{
  width: 45%; /* o 300px se preferisci fisso */
  height: 90vh;
}